body
{
    font-family: 'Roboto Slab', serif;
    margin: 0;
}
.sec1
{
    display: flex;
    padding-left: 100px;
    background-image: url(Image/top-banner.png);
    background-repeat: no-repeat;
}
.sec1para h1
{
    font-size: 50px;
}
.sec1 img
{
    width: 80%;
    margin-left: 50px;
}
.sec1para
{
    width: 50%;
}
.sec1para p
{
    margin-bottom: 50px;
}
.color
{
    color: orange;
}
.hire
{
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding: 12px 35px;
    border-radius: 5%;
    
}