body
{
    font-family: 'Roboto Slab', serif;
}
#welcome
{
    color: aqua;
}
#website
{
    color: dodgerblue;
}
.weltext
{
    font-size: 35px;
}
section
{
    display: flex;
}
.secpara
{
    width: 50%;
    padding-left:1%;
}
.secpara img{
    width: 100%;
}